* { 
    font-family: "SmallTitleFont";
}
html{
    min-height: 100%;
}
body,html{
    height: 100%;
    margin:0;
    padding:0;
}

body{
    background-color: #EDF2EF;
    width: 100%;
}

svg{
    width: 30em;
    align-self: center;
    justify-self: center;
    margin-top: 5em;
    margin-left: 3em;
}

#logo-se{
    animation-duration: 1.2s;
    animation-name: animateLogo;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#logo-se{
    opacity: 0;
}

@keyframes animateLogo {
    from {
        transform: translateX(0) translateY(0);
    }
    to {
        transform: translateX(-90px) translateY(-50px);
        opacity: 1;
    }
}

.st0{
    fill:#111129;
}
.st1{
    fill:#1F204C;
}
.st2{
    fill:#858585;
}
.st3{
    fill:#F6F6F6;
}

/*
 Fixes
*/


.nav-item{
    margin-left: 2em;
}
.nav-item a{
    color: black;
}

.col-sm .container{
    margin-top: 7em;
}

.aIndexContact{
    color: rgba(0,0,0,.5);;
}
.aIndexContact:hover{
    text-decoration: none;
    color: black;
}

.navbar-brand{
    margin-left: 1.5em;
}

/* Fonts */

@font-face {
    font-family: "SmallTitleFont";
    src: url("./fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
}